<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd 
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 安全、事务（切面）、消息 -->
	 
	<tx:annotation-driven transaction-manager="transactionManager" />  
	<!-- -->
	 
	<import resource="classpath*:/META-INF/platform-*-service.xml" />
	<import resource="classpath*:/META-INF/platform-*-app.xml" />
	
	<!-- 子系统自行配置菜单目录树 -->
	<bean parent="applicationConfig"> 
		<property name="menuLocation" value="/security/menu/${artifactId}-menu.xml" />
	</bean>
	
	<!-- i18n resources -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:i18n/validation</value>
				<value>classpath:i18n/messages-platform-core</value>
			</list>
		</property>
		<property name="defaultEncoding" value="utf-8" />
	</bean>
	
	<!-- 启动文件上传Resolver -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
	<!-- <context:annotation-config /> -->

</beans>
